HOSTNAME=admin.example.com
XSS_HOSTNAME=xss.example.com
GMAIL_ACCOUNT=your_gmail_account@gmail.com

CLIENT_ID=
CLIENT_SECRET=
SESSION_SECRET_KEY=

EMAIL_FROM=
EMAIL_NOTIFICATIONS_ENABLED=false
SENDGRID_API_KEY=
SENDGRID_UNSUBSRIBE_GROUP_ID=

CONTROL_PANEL_ENABLED=true
DATABASE_HOST=postgresdb
NODE_ENV=production
PORT=8080
POSTGRES_DB=xsshunterexpress
POSTGRES_PASSWORD=xsshunterexpress
POSTGRES_USER=xsshunterexpress
SCREENSHOTS_DIR=/app/payload-fire-images

SENTRY_DSN=
SENTRY_ENABLED=false

SSL_CONTACT_EMAIL=admin@example.com
USE_CLOUD_STORAGE=false
BUCKET_NAME=
VUE_APP_I18N_FALLBACK_LOCALE=en-US
VUE_APP_I18N_LOCALE=en-US
BCRYPT_ROUNDS=10