SESSION_SECRET_KEY=

HOSTNAME=admin.example.com
XSS_HOSTNAME=xss.example.com

PANEL_LOGIN=true
PANEL_USERNAME=some_email_address@somehost.com
PANEL_PASSWORD=some_random_password
PANEL_USERPASS_LIST=["some_email@example.com:somepass", "another_email@another_example.com:anotherpass"]

OAUTH_LOGIN=false
CLIENT_ID=
CLIENT_SECRET=
GMAIL_ACCOUNTS=a_gmail_account@gmail.com, another_gmail_account@gmail.com

EMAIL_NOTIFICATIONS_ENABLED=false
EMAIL_FROM=
SENDGRID_API_KEY=
SENDGRID_UNSUBSRIBE_GROUP_ID=

CONTROL_PANEL_ENABLED=true
DATABASE_HOST=xsshunterexpress-db
NODE_ENV=production
PORT=8080
POSTGRES_DB=xsshunterexpress
POSTGRES_PASSWORD=xsshunterexpress
POSTGRES_USER=xsshunterexpress
SCREENSHOTS_DIR=/app/payload-fire-images
TRUFFLEHOG_URL=http://xsshunterexpress-trufflehog:8000/trufflehog

SENTRY_DSN=
SENTRY_ENABLED=false

USE_CLOUD_STORAGE=false
BUCKET_NAME=
